.printborder {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .border {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid black;
    width: 90%;
  }
  .heading {
    font-weight: 600;
    text-align: center;
    font-size: 12px;
  }
  
  .borderTable {
    width: 90%;
    margin: auto;
    /* border-style: ridge;
      border-width: 1px; */
    /* border-color: var(--secondary-bg); */
  }
  
  .head {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    align-items: center;
  }
  
  .headH {
    font-size: 14px;
    text-align: center;
  }
  .headP {
    font-size: 13px;
    margin: 0;
    line-height: 1.6rem;
  }
  .image {
    object-fit: cover;
    border-radius: 5px;
  }
  .patientdetail {
    display: flex;
    margin-bottom: 10px;
  }
  .patientdetailR {
    text-align: left;
    font-size: 12px;
  }
  .pateintDetailsTable {
    width: 100%;
    margin-left: 100px;
  }
  .table {
    border-collapse: collapse;
    width: 100%;
  
    margin: 5px auto;
  }
  
  .table > tbody {
    border: 1px solid rgb(187, 187, 187);
    height: auto;
    width: 100%;
    margin: 5px auto;
  }
  
  .tableitemService {
    border: 1px solid rgb(187, 187, 187);
    text-align: center;
    font-size: 12px;
  }
  
  .box {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 20px;
    border: 1px solid rgb(187, 187, 187);
  }
  
  .borderTable {
    width: 90%;
    margin: auto;
    /* border-style: ridge;
      border-width: 1px; */
    /* border-color: var(--secondary-bg); */
  }
  
  .tableitem {
    width: 10%;
    /* padding: 5px; */
    /* font-weight: 500; */
    /* letter-spacing: 0.7px; */
    text-align: center;
    font-size: 10px;
  }
  
  .tableitemTD {
    /* padding: 3px; */
    width: 10%;
    text-align: center;
    font-size: 12.5px;
    font-weight: 500;
  }
  
  .tableitemTDService {
    border-collapse: collapse;
    /* padding: 3px; */
    width: 20%;
    text-align: left;
    padding-left: 10px;
    font-size: 12.5px;
  }
  
  .btn {
    width: 20%;
    background: var(--text-color2);
    color: var(--primary-bg);
    font-size: 16px;
    font-weight: 500;
    padding: 10px 25px;
    margin: 0.5rem 0;
    border: none;
    border-radius: 18px;
    cursor: pointer;
  }
  
  .btnstyle {
    display: flex;
    justify-content: center;
  }
  
  .tableitemTDWord {
    border-collapse: collapse;
    /* border: 1px solid rgb(187, 187, 187); */
    /* padding: 3px; */
    width: 30%;
    text-align: center;
    padding-left: 10px;
    font-weight: 600;
    font-size: 12px;
  }
  .tableitemTDAmount {
    border-collapse: collapse;
    border: 1px solid rgb(187, 187, 187);
    /* padding: 3px; */
    width: auto;
    text-align: left;
    padding-left: 10px;
    font-weight: 600;
    font-size: 12px;
  }
  
  .signature {
    width: 100%;
    margin: 5px auto;
  }
  .signature tr {
    padding: 5px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .signature th {
    width: 50%;
  }
  
  .rightSignArea {
    margin: 0 auto;
    max-width: 200px;
  }
  
  .rightSignArea hr {
    margin: 35px 0 2px;
  }
  
  .rightSignArea span {
    font-size: 12px;
  }
  
  .rightSignArea h5 {
    margin: 8px 0 0;
    font-size: 16px;
  }
  .tableitemTDTotal {
    border-collapse: collapse;
    /* border: 1px solid rgb(187, 187, 187); */
    /* padding: 3px; */
    width: 10%;
    text-align: center;
    padding-left: 10px;
    font-weight: 600;
    font-size: 10px;
  }
  